h1 {
    text-align: center;
    background-color: lightgray;
}

label {
    margin-top: 10px;
    font-size: 25px;
}

.card {
    margin: 20px;
}

.btnHis {
    margin-top: 8px;
    margin-bottom: 10px;
}

.currentDayDate {
    font-size: 25px;
}